.score-container {
    display: flex;
    font-size: 5em;
    min-width: 600px;
}

.score-left {
    font-size: 5em;
    background-color: blue !important;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
}

.score-right {
    font-size: 5em;
    background-color: red !important;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
}

.score-group {
    line-height: 5;
}

.btn-minus {
    font-size: 0.3em;

}