<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta charset="utf-8">
        <meta name="description" content="Table Tennis Scoring Application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="score-view.css"/>
    </head>
    <body>
        <div id="content" class="container">
            <div v-if="(gameWinner && !matchWinner)" class='score-summary' >
                <game-summary :game-winner='gameWinner' ></game-summary>
                <button v-on:click="startGame" class="button-next">Next game</button>
            </div>

            <div v-if="matchWinner" class='score-summary' >
                <match-summary :match-winner="matchWinner" ></match-summary>
                <button v-on:click="finishMatch" class="button-next">Finish match</button>
            </div>

            <game-progress
                    :score-left="scoreLeft" :score-right="scoreRight"
                    v-on:increase-left="increaseLeft"
                    v-on:decrease-left="decreaseLeft"
                    v-on:increase-right="increaseRight"
                    v-on:decrease-right="decreaseRight"></game-progress>

            <score-footer
                    :player-left="playerLeft" :player-right="playerRight" :game-scores="gameScores"></score-footer>


        </div>

    </body>
    <script src="game-progress.js"></script>
    <script src="score-footer.js"></script>
    <script src="game-summary.js"></script>
    <script src="match-summary.js"></script>
    <script src="score-view.js"></script>
</html>
