canvas-blue = #336dc2
canvas-red = #ff2828
canvas-white =  #FFF8E3;
score-font = 50vmin;
minus-font = 20vmin;

body {
    background-color: canvas-white;
    box-sizing: border-box;
    height:100%;
    margin: 0px;
    padding: 0px;

    .container {
        position relative
        width: 90vmin;
        height: 90vmin;
        background-color: canvas-red
    }
}