canvas-blue = #336dc2
canvas-red = #ff2828
score-font = 50vmin;
minus-font = 20vmin;

right-radius(val) {
  border-bottom-right-radius: val;
  border-top-right-radius: val;
}

left-radius(val) {
  border-bottom-left-radius: val;
  border-top-left-radius: val;
}

flex-column(horizontalLayout) {
  display: flex;
  flex-direction: column;;
  justify-content: horizontalLayout;
}

flex-row(horizontalLayout) {
  display: flex;
  justify-content: horizontalLayout;
}

.score-field {
  flex-column(flex-end)
  align-items: center;
  justify-content space-evenly;
  width: 50%;
  height: 100%;
  font-size: score-font;
  color: aliceblue;
}

html {
    height: 100%;
}

body {
  background-color: #FFF8E3;
  box-sizing: border-box;
  height:100%;
  margin: 0px;
  padding: 0px;

  .container {
    flex-column(center);
    align-items: center;
    width: 90wmin;
    height: 90wmin;
    margin-top: 10px;
    user-select: none;
  }

  .score-container {
    flex-row(center);
    width: 95%;
    height: 90%;
    margin-bottom: 1.520vmin;
  }

  .score-val{
    flex-row(center);
    width: 100%;

    .score-val-number {
      flex-basis: 90%;
      text-align: center;
    }

    .serve-indicator {
      font-size: 20vmin;
    }
  }

  .score-left {
    @extend .score-field;
    background-color: canvas-blue;
    left-radius(3vmin);
  }

  .score-right {
    @extend .score-field 
    background-color: canvas-red;
    right-radius(3vmin);
  }

  .btn-minus {
    font-size: minus-font;
  }

  .score-footer {
    flex-row(space-between)
    width: 95%;
    height: 10%;
    font-size: 4vmin;

    .player-name {
      text-transform: uppercase;
    }

    .game-scores {
      flex-row(space-around)
      font-size: 3vmin;

      .game-score {
        margin-right: 10px;
      }
    }
  }
}

.game-winner {
  width: 80%;
  font-size: 8vmin;
  text-align: center;    
}

