@import "style.css"

canvas-blue = #336dc2
canvas-red = #ff2828
score-font = 50vmin;
score-font-small = 40vmin;
minus-font = 20vmin;

right-radius(val) {
  border-bottom-right-radius: val;
  border-top-right-radius: val;
}

left-radius(val) {
  border-bottom-left-radius: val;
  border-top-left-radius: val;
}

flex-column(horizontalLayout) {
  display: flex;
  flex-direction: column;
  justify-content: horizontalLayout;
}

flex-row(horizontalLayout) {
  display: flex;
  justify-content: horizontalLayout;
}

.score-field {
  flex-column(flex-end)
  align-items: center;
  justify-content space-evenly;
  width: 50%;
  height: 100%;
  color: aliceblue;
}

html {
    height: 100%;
    text-align: right;
}

body {
  background-color: #FFF8E3;
  box-sizing: border-box;
  height:100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Catamaran, sans-serif;

  h1 {
    text-align left
  }
  .container {
    flex-column(center);
    align-items: center;
    width: 100%;
    height: 100vmin;
    margin-top: 10px;
    user-select: none;
  }

  .top-toolbar {
    font-size: 5vmin;
    width: 95%;
    margin-bottom: 10px;
    flex-row(space-between);
    font-size: 4vmin;
  }

  .score-container {
    flex-row(center);
    width: 95%;
    height: 90%;
    margin-bottom: 1.520vmin;
  }

  .score-val{
    flex-row(center);
    width: 100%;

    .score-val-number {
      flex-basis: 90%;
      text-align: center;

      &.small {
        font-size: score-font-small;
        padding-top: 10vmin;
      }

      &.normal {
          font-size: score-font;
          padding-top: 7vmin;
      }
    }

    .serve-indicator {
      font-size: 20vmin;
    }

    .server-option {
      width: 4vmin;
      height: 4vmin;
      margin-right: 2vmin;
    }
  }

  .score-left {
    @extend .score-field;
    background-color: canvas-blue;
    left-radius(3vmin);
  }

  .score-right {
    @extend .score-field 
    background-color: canvas-red;
    right-radius(3vmin);
  }

  .btn-minus {
    font-size: minus-font;
  }

  .score-footer {
    flex-row(space-between)
    width: 95%;
    height: 10%;
    font-size: 4vmin;

    .player-name {
      text-transform: uppercase;
      width: 35%;

      &.left {
        text-align left
      }
      &.right {
        text-align: right
      }
    }

    .game-scores {
      flex-row(space-around)
      font-size: 3vmin;

      .game-score {
        margin-right: 10px;
      }
    }

    .player-name-input {
      font-size: 4vmin;
      width: 40vmin;
      margin-bottom: 2vmin;}
    }
}

.game-winner {
  width: 80%;
  font-size: 8vmin;
  text-align: center;    
}

.cover-all {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 4vmin;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-continue {
    background-color: #FFF8E3;
    border-radius: 0.5vmin;
    padding: 3vmin;
    text-transform: uppercase;
    display flex
    width 30vmin

    div {
      margin-right: 2vmin
    }
  }

  .match-summary-box {
    .match-result {
      font-size: 7vmin;
      cursor default

      td, thead {
        padding-right 2vmin
        padding-bottom 5vmin
        width 10vmin

        &.player-name {
          font-weight bold;
          padding-right 10vmin
          text-transform: uppercase
        }
        &.games-result {
          font-weight bold
        }
      }
    }
  }

}

.set-up-game {
  flex-row(space-between)

  span {
    margin-top 1vmin
    margin-right 5vmin
    margin-left 5vmin
    font-size 2vmin
  }

}

.player-name-input {
  margin-top 2vmin
  height 4vmin
  font-size 3vmin
  width 100%
}

.label-small_serving {
  font-size 2vmin
  margin-top 1vmin
  float left
  flex-row(space-around)
  align-items center
}

.btn-large {
  background-color: canvas-blue;
  font-weight bold
  margin-top 5vmin
  border-radius: 0.7vmin;
  align-items center
  justify-content center
  width 15vmin
  height 6vmin
  flex-row(space-around)
}

.player-field_horizontal {
  flex-row(space-between)
  height 4vmin
  div {
    margin-right 10px
  }
}